.main-container {
  flex-shrink: 0;
  position: relative;
  display: flex;

  transition: all 0.2s ease;
}
.full-screen {
  max-height: 100vh;
  min-height: 100vh;
}

.block {
  display: block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.x-wrap {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}

.x-fill {
  width: 100%;
}
.x-85 {
  width: 85%;
}
.x-70 {
  width: 70%;
}

.x-50 {
  width: 50%;
}

.x-40 {
  width: 40%;
}

.x-75px {
  width: 75px;
}
.x-200px {
  width: 200px;
}
.x-300px {
  width: 300px;
}
.x-400px {
  width: 400px;
}
.x-150px {
  min-width: 150px;
}
.x-min-250px {
  min-width: 250px;
}
.x-128px {
  width: 128px;
}

.xy-36px {
  width: 36px;
  height: 36px;
}
.xy-64px {
  width: 64px;
  height: 64px;
}
.xy-96px {
  width: 96px;
  height: 96px;
}
.xy-128px {
  width: 128px;
  height: 128px;
}
.xy-200px {
  width: 200px;
  height: 200px;
}
.y-fill {
  height: 100%;
}
.y-50 {
  height: 50%;
}
.y-25 {
  height: 25%;
}
.fill-parent {
  width: 100%;
  height: 100%;
}

.full-center {
  justify-content: center;
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.align-between {
  align-items: space-between;
}

.container-box {
  position: relative;
  overflow: hidden;
}

.container-box.tinier {
  min-width: 150px;
  max-height: 150px;
}
.container-box.tiny {
  min-width: 250px;
}
.container-box.twentyvw {
  min-width: 340px;
  width: 20vw;
}
.container-box.small {
  min-width: 340px;
  width: 25vw;
}
.container-box.medium {
  min-width: 340px;
  width: 35vw;
  flex-basis: auto;
}
.container-box.large {
  min-width: 340px;
  width: 50vw;
}
.container-box.extra-large {
  min-width: 340px;
  width: 75vw;
  max-width: 1400px;
}
.fill-full-screen {
  width: 100vw;
}

.container-box.y-30vw {
  height: 30vw;
  min-height: 200px;
}

.ov-hidden {
  overflow: hidden;
}
.ov-auto {
  overflow: auto;
}
.ov-visible {
  overflow: visible;
}
.fill-flex {
  flex: 1;
}
.reverse {
  flex-direction: row-reverse;
}
.common-border {
  border: 1px solid var(--grey-theme-color);
  border-style: solid !important;
}
.common-border.light {
  border: 1px solid var(--light-grey-theme-color);
}
.common-border.dark {
  border-color: var(--grey-font-color);
}
.common-border.font-color {
  border-color: var(--primary-font-color);
}
.common-border.thick {
  border-width: 2px;
}
.common-border.one-blue {
  border-color: var(--one-blue-color);
}
.common-border.four-blue {
  border-color: var(--four-blue-color);
}
.border-right.five-blue,
.border-bottom.five-blue,
.common-border.five-blue {
  border-color: var(--five-blue-color);
}
.common-border.seven-blue {
  border-color: var(--seven-blue-color);
}
.common-border.white {
  border-color: var(--white-theme-color);
}
.common-border.green {
  border-color: var(--green-theme-color);
}

.border.small {
  border: 0.5px solid var(--grey-theme-color);
}
.border-right {
  border-right: 1px solid var(--grey-theme-color);
}

.border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.21);
}
.border-bottom {
  border-bottom: 1px solid var(--grey-theme-color);
}
.border-bottom-light {
  border-bottom: 1px solid var(--grey-theme-color);
}
.border-bottom-dashed {
  border-bottom: 1px dashed var(--grey-theme-color);
}

.border-right-dashed {
  border-right: 1px dashed var(--grey-theme-color);
}
.border-top {
  border-top: 1px solid var(--grey-theme-color);
}
.border-top-dashed {
  border-top: 1px dashed var(--grey-theme-color);
}
.border-bottom-50 {
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: 0;
  border-bottom: 2px solid var(--four-blue-color);
}
.light-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.light-scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 0%, 0.35);
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  min-height: 36px;
}
.light-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 0%, 0.4);
}

.bg-queen-blue {
  background-color: var(--queen-blue-color);
}

.bg-green {
  background-color: var(--green-theme-color);
}
.bg-grey {
  background-color: var(--light-grey-theme-color);
}

.bg-blue-grey {
  background-color: var(--blue-grey-color);
}

.bg-light-grey {
  background-color: var(--light-light-grey-theme-color);
}
.bg-almost-black {
  background-color: var(--almost-black-color);
}
.bg-three-blue {
  background-color: var(--three-blue-color);
}
.bg-four-blue {
  background-color: var(--four-blue-color);
}
.bg-five-blue {
  background-color: var(--five-blue-color);
}
.bg-seven-blue {
  background-color: var(--seven-blue-color);
}
.bg-white {
  background-color: var(--white-theme-color);
}

.bg-green-fade {
  background: linear-gradient(320deg, var(--green-theme-color), #48def7);
}
.bg-purple-fade {
  background: linear-gradient(320deg, #6163ff, #9c9dff);
}
.bg-orange-fade {
  background: linear-gradient(320deg, #ff6e5d, #ffb791);
}
.bg-orange-fade-2 {
  background: linear-gradient(285deg, #fd5642, #ff9464);
}
.bg-blue-fade {
  background: linear-gradient(99deg, #04f0fa, var(--five-blue-color));
}
.bg-blue-fade-2 {
  background-image: linear-gradient(280deg, #1ba5f9, #04c5fb);
}
.bg-blue-fade-3 {
  background-image: linear-gradient(to bottom, #04f0fa, var(--five-blue-color));
}
.bg-blue-fade-4 {
  background-image: linear-gradient(312deg, #1ba5f9, #04c5fb);
}
.bg-blue-fade-5 {
  background-image: linear-gradient(127deg, #04f0fa, var(--five-blue-color));
}
.bg-blue-fade-6 {
  background-image: linear-gradient(112deg, #04dffa, var(--five-blue-color));
}
.bg-transparent {
  background-color: transparent;
}
.absolute {
  position: absolute;
  z-index: 1;
}
.absolute.top {
  top: 8px;
}
.absolute.right {
  right: 8px;
}
.absolute.bottom {
  bottom: 8px;
}

.absolute.top-100 {
  top: 100%;
}
.absolute.top-0 {
  top: 0;
}
.absolute.bottom-0 {
  bottom: 0;
}
.absolute.left-0 {
  left: 0;
}
.absolute.right-0 {
  right: 0;
}
.absolute.bottom--16 {
  bottom: -16px;
}

.translate-y-50 {
  transform: translate(0, 50%);
}

.grid-300px {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid-gap-32 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.grid-3-column {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.no-bottom-br {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.no-top-br {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.grid-4-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.dot.small {
  width: 8px;
  height: 8px;
}

.test-mode {
  background-color: red !important;
}
