@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Muli);

:root {
  --nine-blue-color: #1b3a7a;
  --eight-blue-color: #0b77c7;
  --seven-blue-color: #0c89db;
  --six-blue-color: #079cef;
  --five-blue-color: #05a4ff;
  --four-blue-color: #04cdfa;
  --three-blue-color: #4dc4ff;
  --two-blue-color: #81d5ff;
  --one-blue-color: #c2dcf0;
  --one-half-blue-color: #e1f5ff;

  --nine-purple-color: #33004d;
  --eight-purple-color: #550080;
  --seven-purple-color: #7700b3;
  --six-purple-color: #9900e6;
  --five-purple-color: #aa00ff;
  --four-purple-color: #b31aff;
  --three-purple-color: #c44dff;
  --two-purple-color: #d580ff;
  --one-purple-color: #e6b3ff;
  --one-half-purple-color: #f7e5ff;

  --nine-orange-color: #c13100;
  --eight-orange-color: #d94000;
  --seven-orange-color: #e64800;
  --six-orange-color: #f44f00;
  --five-orange-color: #ff5500;
  --four-orange-color: #ff6e33;
  --three-orange-color: #ff895a;
  --two-orange-color: #ffaa8a;
  --one-orange-color: #ffcbb8;
  --one-half-orange-color: #fce9e6;

  --blue-grey-color: #4f576c;

  --primary-font-color: #4a4a4a;
  --secondary-font-color: #567183;
  --grey-font-color: #9b9b9b;
  --purple-font-color: #aa00ff;

  --divider-theme-color: #bdbdbd;

  --green-theme-color: #3dd6b4;
  --orange-theme-color: #ff6e5d;
  --pink-theme-color: #d23be7;
  --purple-theme-color: #8c7ae6;
  --red-theme-color: #e6261f;
  --turqoise-theme-color: #41dcfe;
  --yellow-theme-color: #ffff00;

  --light-purple-theme-color: #9c88ff;
  --light-light-purple-theme-color: #dbb5fd;

  --dark-green-theme-color: #44bd32;
  --dark-pink-theme-color: #b719cc;

  --black-theme-color: #000;
  --white-theme-color: #fff;
  --silver-color: #c0c0c0;
  --queen-blue-color: #f8f8f8;

  --grey-theme-color: #d8d8d8;
  --light-grey-theme-color: #dedede;
  --light-light-grey-theme-color: #fafafa;
  --dark-grey-theme-color: #95a5a6;
  --almost-black-color: #383838;

  --campaign-color1: #0360f0;
  --campaign-color2: #14c7fa;
  --campaign-color3: #3dd6b4;
  --campaign-color4: #f5a623;

  --grey-shade-color: rgba(0, 0, 0, 0.8);

  --thirteen-font-size: 13px;
  --fourteen-font-size: 14px;
  --fifteen-font-size: 15px;

  --sixteen-font-size: 16px;
  --eighteen-font-size: 18px;
  --twenty-font-size: 20px;

  --twenty-two-font-size: 22px;
  --twenty-four-font-size: 24px;
  --twenty-six-font-size: 26px;
  --thirty-two-font-size: 32px;
  --forty-font-size: 40px;

  --muli-font: "Muli";
  --quicksand-font: "Quicksand";
  --regular-font: "Open Sans";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.file-upload-on-file {
  opacity: 0;
  background-color: var(--grey-shade-color);
}
.file-upload-on-file:hover {
  opacity: 1;
}
.no-pointer-events {
  pointer-events: none;
}
.wrapping-container {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
}
.wrapping-container-no-center {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}
.nowrap-container {
  display: flex;
  justify-content: center;

  width: 100%;
}
.nowrap-container-center {
  display: flex;
  align-items: center;

  width: 100%;
}
.common-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.common-container-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.simple-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}
.simple-container.medium {
  min-width: 400px;
  max-width: 500px;
}
.simple-container.large {
  max-width: 600px;
}
.no-text-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fixed {
  position: fixed;
}
.fixed.top {
  top: 0;
}
.fixed.left {
  left: 0;
}
.fixed.right {
  right: 0;
}

@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.close-scroll {
  right: 10px !important;
}
.close {
  color: var(--secondary-font-color);
}
.close-scroll {
  color: var(--secondary-font-color);
}
.close,
.close-scroll {
  position: absolute;
  right: 1px;
  top: -3px;

  cursor: pointer;
  pointer-events: auto;

  z-index: 1;
}
.close:hover,
.close-scroll:hover {
  color: var(--red-theme-color);
}

.close-container {
  color: var(--secondary-font-color);
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
}
.close-special:hover {
  color: var(--red-theme-color);
}

.facebook {
  background-color: #4267b2;
}
.twitter {
  background-color: #1da1f2;
}
.linkedin {
  background-color: #0077b5;
}
.instagram {
  background: linear-gradient(90deg, #cd486b, #8a3ab9);
}
.hover-blue:hover {
  color: var(--four-blue-color);
}

.copy,
.delete {
  color: var(--secondary-font-color);

  cursor: pointer;

  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
}
.delete:hover {
  color: var(--red-theme-color);
}
.copy:hover {
  color: var(--five-blue-color);
}

.connected-accounts-posting-div:hover {
  background-color: var(--five-blue-color);
  cursor: pointer;
  color: var(--white-theme-color);
}

.date-label {
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  background-color: transparent;
}
.date-picker {
  margin: 5px;
  padding: 4px;

  border-radius: 4px;
  border: 1px solid var(--secondary-font-color);
}
.date-picker:focus {
  border: 1px solid var(--five-blue-color);
}

.signed-in-as {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  background-color: var(--green-theme-color);
  color: var(--white-theme-color);
}
.sign-out-of-clients-account {
  width: 20px !important;
  height: 20px;
  padding-left: 4px;
  color: var(--red-theme-color);
  cursor: pointer;
}
.sign-out-of-clients-account:hover {
  color: var(--dark-red-theme-color);
}
.label {
  display: flex;
  align-items: center;

  color: var(--grey-font-color);
}

.show-more {
  position: absolute;

  height: 20px;
  width: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: var(--white-theme-color);
  box-shadow: 0 1px 3px 0 rgba(26, 25, 25, 0.42);
  color: var(--five-blue-color);
  z-index: 10;

  cursor: pointer;
}
.show-more.center-vertically {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.show-more.right {
  right: 2px;
}
.show-more.left {
  left: 2px;
}
.show-more.far-left {
  left: -12px;
}
.show-more.center-horizontally {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.show-more.top {
  top: 2px;
}
.show-more.bottom {
  bottom: -10px;
}
.show-more-parent:hover .show-more,
.show-more:hover {
  border-color: var(--seven-blue-color);
  background-color: var(--white-theme-color);
  color: var(--seven-blue-color);
}

.fill-flex {
  flex: 1;
}
.flex {
  display: flex !important;
  flex-shrink: 0;
}
.flex.right {
  width: 100%;
  justify-content: flex-end;
}
.flex.vc {
  align-items: center;
}
.flex.hc {
  justify-content: center;
}
.flex.center {
  align-items: center;
  justify-content: center;
}
.wrap {
  flex-wrap: wrap;
}
.flex .end {
  justify-content: flex-end;
}
.margin-hc {
  margin-left: auto;
  margin-right: auto;
}
.relative {
  position: relative;
}
.br0 {
  border-radius: 0 !important;
}
.br4 {
  border-radius: 4px;
}
.br8 {
  border-radius: 8px;
}
.br16 {
  border-radius: 16px;
}
.br20 {
  border-radius: 20px;
}
.br32 {
  border-radius: 32px;
}
.round {
  border-radius: 50%;
}
.button {
  cursor: pointer;
}
.button.white:hover,
.button.blue {
  background-color: var(--five-blue-color);
  color: var(--white-theme-color);
  border: 1px solid var(--five-blue-color);
}
.button.white,
.button.blue:hover {
  background-color: var(--white-theme-color);
  color: var(--five-blue-color);
  border: 1px solid var(--five-blue-color);
}
.button.transparent {
  background-color: transparent;
  color: var(--white-theme-color);
}

.common-transition {
  transition: all 0.2s ease;
}
.pa64 {
  padding: 64px;
}
.px64 {
  padding-right: 64px;
  padding-left: 64px;
}
.py64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.pt64 {
  padding-top: 64px;
}
.pr64 {
  padding-right: 64px;
}
.pb64 {
  padding-bottom: 64px;
}
.pl64 {
  padding-left: 64px;
}

.pa48 {
  padding: 48px;
}
.px48 {
  padding-right: 48px;
  padding-left: 48px;
}
.py48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.pt48 {
  padding-top: 48px;
}
.pr48 {
  padding-right: 48px;
}
.pb48 {
  padding-bottom: 48px;
}
.pl48 {
  padding-left: 48px;
}

.pa32 {
  padding: 32px;
}
.px32 {
  padding-right: 32px;
  padding-left: 32px;
}
.py32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.pt32 {
  padding-top: 32px;
}
.pr32 {
  padding-right: 32px;
}
.pb32 {
  padding-bottom: 32px;
}
.pl32 {
  padding-left: 32px;
}

.pa16 {
  padding: 16px;
}
.px16 {
  padding-right: 16px;
  padding-left: 16px;
}
.py16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pt16 {
  padding-top: 16px;
}
.pr16 {
  padding-right: 16px;
}
.pb16 {
  padding-bottom: 16px;
}
.pl16 {
  padding-left: 16px;
}

.pa8 {
  padding: 8px;
}
.px8 {
  padding-right: 8px;
  padding-left: 8px;
}
.py8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pt8 {
  padding-top: 8px;
}
.pr8 {
  padding-right: 8px;
}
.pb8 {
  padding-bottom: 8px;
}
.pl8 {
  padding-left: 8px;
}

.pa4 {
  padding: 4px;
}
.px4 {
  padding-right: 4px;
  padding-left: 4px;
}
.py4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pt4 {
  padding-top: 4px;
}
.pr4 {
  padding-right: 4px;
}
.pb4 {
  padding-bottom: 4px;
}
.pl4 {
  padding-left: 4px;
}

.pa2 {
  padding: 2px;
}
.px2 {
  padding-right: 2px;
  padding-left: 2px;
}
.py2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.pt2 {
  padding-top: 2px;
}
.pr2 {
  padding-right: 2px;
}
.pb2 {
  padding-bottom: 2px;
}
.pl2 {
  padding-left: 2px;
}

.ma64 {
  margin: 64px;
}
.mx64 {
  margin-right: 64px;
  margin-left: 64px;
}
.my64 {
  margin-top: 64px;
  margin-bottom: 64px;
}
.mt64 {
  margin-top: 64px;
}
.mr64 {
  margin-right: 64px;
}
.mb64 {
  margin-bottom: 64px;
}
.ml64 {
  margin-left: 64px;
}

.ma48 {
  margin: 48px;
}
.mx48 {
  margin-right: 48px;
  margin-left: 48px;
}
.my48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.mt48 {
  margin-top: 48px;
}
.mr48 {
  margin-right: 48px;
}
.mb48 {
  margin-bottom: 48px;
}
.ml48 {
  margin-left: 48px;
}

.ma32 {
  margin: 32px;
}
.mx32 {
  margin-right: 32px;
  margin-left: 32px;
}
.my32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.mt32 {
  margin-top: 32px;
}
.mr32 {
  margin-right: 32px;
}
.mb32 {
  margin-bottom: 32px;
}
.ml32 {
  margin-left: 32px;
}

.ma16 {
  margin: 16px;
}
.mx16 {
  margin-right: 16px;
  margin-left: 16px;
}
.my16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mt16 {
  margin-top: 16px;
}
.mr16 {
  margin-right: 16px;
}
.mb16 {
  margin-bottom: 16px;
}
.ml16 {
  margin-left: 16px;
}

.ma8 {
  margin: 8px;
}
.mx8 {
  margin-right: 8px;
  margin-left: 8px;
}
.my8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mt8 {
  margin-top: 8px;
}
.mr8 {
  margin-right: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml8 {
  margin-left: 8px;
}

.ma4 {
  margin: 4px;
}
.mx4 {
  margin-right: 4px;
  margin-left: 4px;
}
.my4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mt4 {
  margin-top: 4px;
}
.mr4 {
  margin-right: 4px;
}
.mb4 {
  margin-bottom: 4px;
}
.ml4 {
  margin-left: 4px;
}

.ma2 {
  margin: 2px;
}
.mx2 {
  margin-right: 2px;
  margin-left: 2px;
}
.my2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.mt2 {
  margin-top: 2px;
}
.mr2 {
  margin-right: 2px;
}
.mb2 {
  margin-bottom: 2px;
}
.ml2 {
  margin-left: 2px;
}

.round-button {
  border-radius: 4px;
  white-space: nowrap;
  color: var(--white-theme-color);
  background-color: var(--seven-blue-color);
}
.round-button:hover {
  background-color: var(--eight-blue-color);
}
.round-button.large {
  font-size: var(--eighteen-font-size);
}

.round-icon {
  width: 32px !important;
  height: 32px;
}
.round-icon-medium {
  width: 24px !important;
  height: 24px;
}
.round-icon-small {
  width: 16px !important;
  height: 16px;
}
.shadow {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
}
.shadow-light {
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.07);
}
.shadow-green {
  box-shadow: 0 5px 12px 0 rgba(50, 242, 202, 0.35);
}
.shadow-purple {
  box-shadow: 0 5px 12px 0 rgba(99, 101, 255, 0.25);
}
.shadow-orange {
  box-shadow: 0 5px 12px 0 rgba(248, 81, 61, 0.35);
}
.shadow-orange-2 {
  box-shadow: 0 8px 15px 0 rgba(248, 81, 61, 0.35);
}
.shadow-orange-3 {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}
.shadow-blue {
  box-shadow: 0 7px 12px 0 rgba(5, 197, 253, 0.5);
}
.shadow-blue-2 {
  box-shadow: 0 3px 8px 0 rgba(5, 197, 253, 0.25);
}
.shadow-blue-3 {
  box-shadow: 0 5px 12px 0 rgba(5, 164, 255, 0.27);
}
.shadow-blue-4 {
  box-shadow: 0 4px 11px 0 rgba(5, 175, 255, 0.29);
}
.shadow-blue-5 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.shadow-left {
  box-shadow: -4px 0 6px 0 rgba(0, 0, 0, 0.2);
}
.shadow-medium {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}
.shadow-1 {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}
.shadow-2 {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}
.shadow-3 {
  box-shadow: 0 4px 12px 0 rgba(2, 61, 106, 0.1);
}
.shadow-4 {
  box-shadow: 0 1px 3px 0 rgba(2, 61, 106, 0.29);
}
.shadow-5 {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
}
.shadow-6 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
}
.shadow-7 {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
}
body {
  min-height: 100%;

  padding: 0;
  margin: 0;

  font-family: var(--regular-font);
  color: var(--primary-font-color);
  font-size: var(--eighteen-font-size);

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
div {
  font-family: inherit;
  font-size: var(--eighteen-font-size);
  color: var(--primary-font-color);
}
img {
  box-sizing: border-box;
}
[hoverinstructions]:before {
  /* needed - do not touch */
  content: attr(hoverinstructions);
  position: absolute;
  opacity: 0;

  /* customizable */
  top: 100%;
  right: 0;
  padding: 10px;
  z-index: 15;

  width: 30vw;

  background: var(--three-blue-color);
  color: var(--white-theme-color);

  transition: all 0.15s ease;
}

[hoverinstructions]:hover:before {
  /* needed - do not touch */
  opacity: 1;

  /* customizable */
  background: var(--three-blue-color);
  color: var(--white-theme-color);
}
[hoverinstructions]:not([hoverinstructions-persistent]):before {
  pointer-events: none;
}
[hoverinstructions].top-left {
  bottom: 100%;
  right: 0;
}
[hoverinstructions].top-right {
  bottom: 100%;
  left: 0;
}
[hoverinstructions].bottom-right {
  top: 100%;
  left: 0;
}
[hoverinstructions].bottom-left {
  top: 100%;
  right: 0;
}

.checkbox-box {
  min-height: 16px;
  min-width: 16px;

  border: 2px solid var(--primary-font-color);
}
.checkbox-check {
  width: 9px;
  height: 5px;

  border-bottom: 2px solid var(--primary-font-color);
  border-left: 2px solid var(--primary-font-color);

  transform: rotate(-45deg);
}
.moving-border:after {
  display: block;
  content: "";
  border-bottom: solid 6px var(--divider-theme-color);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  transform-origin: 100% 50%;
}
.moving-border.white:after {
  border-bottom: solid 6px var(--white-theme-color);
}
.moving-border.active:after,
.moving-border:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.moving-border.active:after {
  border-bottom: solid 6px var(--divider-theme-color);
}
.moving-border.white.active:after {
  border-bottom: solid 6px var(--white-theme-color);
}
.regular-input {
  padding: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 4px;
  flex: 1;
}

.icon-regular-button {
  color: var(--seven-blue-color);
  cursor: pointer;
}
.icon-regular-button:hover {
  color: var(--eight-blue-color);
}
.list-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 8px;
}
.list-info {
  flex: 1;
  display: flex;
  background-color: var(--light-grey-theme-color);
  padding: 8px;
  border-radius: 4px;
}
.color-red {
  color: var(--red-theme-color);
}

.image.tiny {
  max-width: 80px;
  max-height: 70px;
}
.image.small {
  width: 50%;
}
.image.medium {
  width: 100%;
}
.image.large {
  width: 70vw;
}
.image.max {
  width: 100vw;
}
.hover-options-container {
  position: absolute;
  bottom: 100%;
  left: 0;

  display: none;
}
.hover-options-container:hover {
  display: flex;
}

.plain-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--secondary-font-color);
}
.plain-button.active {
  background-color: var(--light-grey-theme-color);
}
.plain-button:hover {
  color: var(--primary-font-color);
}

@keyframes animateFromLeft100 {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0);
  }
}
.animate-from-left-100 {
  animation: animateFromLeft100 0.2s ease;
}
