.text-test-mode {
  background-color: blue;
}

.primary-font {
  color: var(--primary-font-color);
  fill: var(--primary-font-color);
}
.white {
  color: var(--white-theme-color);
  fill: var(--white-theme-color);
}
.silver {
  color: var(--silver-color);
  fill: var(--silver-color);
}
.red {
  color: var(--red-theme-color);
  fill: var(--red-theme-color);
}
.orange {
  color: var(--orange-theme-color);
  fill: var(--orange-theme-color);
}
.grey {
  color: var(--grey-font-color);
  fill: var(--grey-font-color);
}
.four-blue {
  color: var(--four-blue-color);
  fill: var(--four-blue-color);
}
.five-blue {
  color: var(--five-blue-color);
  fill: var(--five-blue-color);
}
.seven-blue {
  color: var(--seven-blue-color);
  fill: var(--seven-blue-color);
}
.green {
  color: var(--green-theme-color);
  fill: var(--green-theme-color);
}
.clickable {
  cursor: pointer;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.muli {
  font-family: var(--muli-font);
}

.quicksand {
  font-family: var(--quicksand-font);
}

.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.taj {
  text-align: justify;
}
.fw-normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.bold-600 {
  font-weight: 600;
}

.seven-blue {
  color: var(--seven-blue-color);
}

.nine-blue {
  color: var(--nine-blue-color);
}
.fs-13 {
  font-size: var(--thirteen-font-size);
}
.fs-14 {
  font-size: var(--fourteen-font-size);
}
.fs-20 {
  font-size: var(--twenty-font-size);
}
.fs-26 {
  font-size: var(--twenty-six-font-size);
}

h1 {
  color: var(--four-blue-color);
  margin: 0;
  padding: 0;

  font-weight: 100;
  font-size: var(--thirty-two-font-size);
}
h2 {
  color: var(--primary-font-color);
  margin: 0;
  font-weight: 100;

  font-size: var(--thirty-two-font-size);
}
h3 {
  color: var(--four-blue-color);
  margin: 0;
  padding: 0;
  font-size: var(--twenty-font-size);
  font-weight: 100;
}
h4 {
  color: var(--primary-font-color);
  margin: 0;
  text-align: left;
  font-weight: 100;

  font-size: var(--twenty-font-size);
}
h5 {
  color: var(--four-blue-color);
  margin: 0;
  font-weight: 100;

  font-size: var(--eighteen-font-size);
}
h6 {
  color: var(--primary-font-color);
  margin: 0;
  font-weight: 100;

  font-size: var(--eighteen-font-size);
}

p {
  margin: 0;
  color: var(--primary-font-color);
  text-align: left;
  font-size: var(--eighteen-font-size);
  font-weight: 100;
}

ul {
  width: auto;
  overflow: hidden;
}
span {
  font-size: inherit !important;
}

text {
  font-size: var(--eighteen-font-size);
  fill: var(--primary-font-color);
}
