.logo-background {
  shape-rendering: geometricPrecision;

  pointer-events: auto;
}
.logo-outer-shape {
  shape-rendering: geometricPrecision;
  fill: none;
  fill: var(--white-theme-color);
}

.logo-ghost-body {
  stroke: #525f60;
  stroke-width: 150;
  shape-rendering: geometricPrecision;
}
.logo-ghost-eye {
  fill: #525f60;
  shape-rendering: geometricPrecision;
}
.logo-ghost-mouth {
  fill: #525f60;
  shape-rendering: geometricPrecision;
}
.logo-ghost-bottom-shadow {
  shape-rendering: geometricPrecision;
  fill: var(--three-blue-color);
}

.logo-text {
  font-size: 3500px;

  fill: var(--primary-font-color);
  font-weight: bold;
  shape-rendering: geometricPrecision;
}
