.merge-with-button {
  border-right: none;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.merge-with-button:focus + .merge-with-input {
  border-color: var(--four-blue-color);
}
.no-border {
  border: none;
}

textarea,
input {
  outline: none;
  resize: vertical;

  font-size: var(--eighteen-font-size);
  font-family: var(--regular-font);
  border: 1px solid var(--light-grey-theme-color);
  color: var(--primary-font-color);
  background-color: var(--white-theme-color);

  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  width: 100%;
}
textarea:focus,
input:focus {
  border-color: var(--three-blue-color);
}

input[type="file"] {
  display: none;
}
::placeholder {
  color: var(--dark-grey-theme-color);
}
